# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main
- develop

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  DotNetVersion: 6.0.100
  DotNet.Cli.Telemetry.OptOut: true
  MauiCheck.Version: 0.10.0
  LogDirectory: $(Build.ArtifactStagingDirectory)\logs

steps:

- task: UseDotNet@2
  displayName: 'Install .NET Core SDK'
  inputs:
    packageType: 'sdk'
    version: '$(DotNetVersion)'

- powershell: |
    & dotnet tool update --global redth.net.maui.check --version $(MauiCheck.Version)
    & maui-check --ci --non-interactive --fix --skip androidsdk --skip xcode --skip vswin --skip vsmac --skip edgewebview2
  displayName: Perform maui-check
  errorActionPreference: stop

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: '$(solution)'

# - powershell: |
#     & dotnet build source\Library.sln -c Debug   -bl:$(LogDirectory)\Debug.binlog
#     & dotnet build source\offline-poc\OfflinePoc.sln -c Debug   -bl:$(LogDirectory)\Debug.binlog
#     & dotnet build source\online-poc\OnlinePoc.sln -c Debug   -bl:$(LogDirectory)\Debug.binlog
#   displayName: Build all solutions in Debug
#   errorActionPreference: stop

# - powershell: |
#     & dotnet build source\Library.sln -c Release -bl:$(LogDirectory)\Release.binlog
#     & dotnet build source\offline-poc\OfflinePoc.sln -c Release -bl:$(LogDirectory)\Release.binlog
#     & dotnet build source\online-poc\OnlinePoc.sln -c Release -bl:$(LogDirectory)\Release.binlog
#   displayName: Build all solutions in Release
#   errorActionPreference: stop

- task: AzureKeyVault@2
  inputs:
    azureSubscription: 'Azure for startups(0c7c832b-f1c2-4926-8e90-c6e869b07ff2)'
    KeyVaultName: 'uid-poc-dev'
    SecretsFilter: '*'
    RunAsPreJob: false

- powershell: | 
    $pathToJson = "source/library-test/appsettings.json"
    $a = Get-Content $pathToJson | ConvertFrom-Json
    $a.TestMnemonic = ${{parameters.testMnemonic}}
    $a.TestInfuraProjectId =  ${{parameters.testInfuraProjectId}} 
    $a | ConvertTo-Json | set-content $pathToJson
  displayName: 'Update AppSettings file before testing'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: Test
  inputs:
    command: test
    projects: '$(solution)'
    publishTestResults: true
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'
