# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# Visual Studio code
# - Mocha test explorer
# - dotnet core test explorer

#   Root .vscode folder and other .vscode folders
.vscode/*
**/.vscode/*

#   Except for settings.json in root and others
!.vscode/settings.json 
!.vscode/extensions.json 
!*/.vscode/extensions.json

# .DS_Store files - Mac
.DS_Store
